html, body {
    margin: 0;
    height: 100%;
    font-family: Arial;
    touch-action: manipulation;
}

#app {
    height: 100%;
}

.screen {
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

button {
    padding: 40px;
    font-size: 22px;
    border: none;
    background: #eee;
    border-radius: 12px;
    touch-action: manipulation;
}

button:active {
    transform: scale(0.97);
}

.toast {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: green;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
}
