html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial;
    background: #f5f5f5;
}

#app {
    height: 100vh;
    width: 100vw;
}

.screen {
    padding: 20px;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

button {
    padding: 40px;
    font-size: 22px;
    border: none;
    border-radius: 12px;
    background: #eaeaea;
    touch-action: manipulation;
}

button:active {
    transform: scale(0.97);
}

.toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: green;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    z-index: 9999;
}
